/**StyleSheet **/

#first_letter
{

margin-right: 0px;
/*margin-left:auto;*/
display:inline-block;
color:#a09d9b; 
font-family: 'Droid Serif', Georgia, Times, serif;
font-size: 49px;
line-height: 65px;
margin-bottom:-100px;
/*color:#5C4F66;*/
}

#rest
{
display:inline-block;
color:#f99a00;
font-family: 'Ubuntu', sans-serif;
font-size: 28px;
}
#content
{
width:200px;
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:-100px;


}
#body
{
	width:180px;	
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:-15px;
}
#quotes-title
{
	color:#888888;
}
#quote
{
	color:#99CCD1;
}
